<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.url == '/easy/' %}
<title>{{ site.title }} | {{ page.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}

<link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:wght@400;500;600&family=Roboto+Slab:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">