// define variables here!

$Caprasimo: 'Caprasimo', cursive;
$OpenSans: 'Open Sans', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;
$anim-duration: 4; // in seconds
$anim-speed: 0.65; // in seconds
$dark: black;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $RobotoSlab !important;
    color: white;
}

body {
    background-color: rgb(24, 24, 25);
}

.container {
    color: black;
    background-color: rgb(24, 24, 24);
    margin: 0rem 6rem;
}