<!doctype html>
<html>

<head>
  {% include styles.html %}
</head>

<body>
  {% include navigation.html %}

  <div class="container">
    <div class="container-block container-block-first">
      <div class="block-1">
        <div>Contribute interesting questions and solutions</div>
        <div>
          <a href="{{ site.github_link }}" class="contribute">
            Contribute 🤍
          </a>
        </div>
      </div>
      <div class="block-2">
        <img src="{{site.baseurl}}assets/images/happy avatar.png" alt="Happy face avatar">
      </div>
    </div>
    <div class="container-block container-block-second">
      <a href="{{site.baseurl}}easy/" class="sub-block-easy">
        <div class="sub-block-wrap">
          <div class="link">🔗</div>
          <div class="sub-block-head">
            Easy
          </div>
          <div class="sub-block-content">
            Beginner-friendly coding fun awaits! Get ready to level up with confidence!
          </div>
        </div>
        <img src="{{site.baseurl}}assets/images/hi.png" alt="happy waving avatar" class="first-image" />
      </a>
      <a href="{{site.baseurl}}medium/" class="sub-block-medium">
        <div class="sub-block-wrap">
          <div class="link">🔗</div>
          <div class="sub-block-head">
            Medium
          </div>
          <div class="sub-block-content">
            Midway Madness! Get ready to embrace the excitement of problem-solving!
          </div>
        </div>
        <img src="{{site.baseurl}}assets/images/tired.png" alt="tensed avatar" class="second-image" />
      </a>
      <a href="{{site.baseurl}}hard/" class="sub-block-hard">
        <div class="sub-block-wrap">
          <div class="link">🔗</div>
          <div class="sub-block-head">
            Hard</div>
          <div class="sub-block-content">
            Ultimate coding adventure alert! Master advanced techniques and conquer the
            challenge!
          </div>
        </div>
        <img src="{{site.baseurl}}assets/images/cry.png" alt="crying avatar" class="third-image" />
      </a>
    </div>
  </div>

  <div class="footer">

  </div>
</body>

</html>